
%h2 Registration

= render 'shared/registration_policy'

= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|

  = devise_error_messages!

  %div
    = f.label 'Your complete name'
    %br/
    = f.text_field :name, :placeholder => '[given name] [family name]'

  %div
    = f.label 'Interests and qualifications'
    %br/
    = text_area_tag :biography

  %div
    = f.label 'Desired username'
    %br/
    = f.text_field :username

  %div
    = f.label :email
    %br/
    = f.email_field :email

  %div
    = f.label :password
    %br/
    = f.password_field :password

  %div
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation

  %div= f.submit "Register!"

= render :partial => "devise/shared/links"

- content_for :javascripts do

  :javascript

    jQuery(function($) {

      $form = $('form');
      $form.find('input', 'textarea').attr('disabled', 'disabled');
      $form.find('input[type="submit"]').attr('disabled');

      $form.submit(function(e) {
        e.preventDefault();
        alert('Registrations are not yet enabled');
      });

    });

