
<td>
  {{ago assessed}}
</td>

<td>
  {{entity_type}}
</td>

<td>
  <a href="{{url}}">{{title}}</a>
</td>

<td>
  <a href="#">{{user}}</a>
</td>

<td>
  <a href="/projects/{{project}}">{{project}}</a>
</td>

