
<td>
  {{ago assessed}}
</td>

<td>
  {{#if entity_type}}
  {{capitalize entity_type}}:
  {{/if}}
  <a href="{{url}}">{{title}}</a>
</td>

<td>
  <a href="#">{{user}}</a>
</td>

<td>
  <a href="/projects/{{project}}">{{project}}</a>
</td>

