
<td>
  {{mdy published}}
</td>

<td>
  {{capitalize entity_type}}:
  <a href="{{url}}">{{title}}</a>
</td>

<td>
  <a href="#">{{user}}</a>
</td>

<td>
  <a href="/projects/{{project}}">{{project}}</a>
</td>

