<form>

  <div id="fg-tabs">

    <ul>
      <li><a href="#fx-details">Details</a></li>
      <li><a href="#fx-citations">Citations</a></li>
    </ul>

    <div id="fg-tab-content">

      <div id="fx-details">

        <dl class="fg-properties">
          <dt>Title</dt>
          <dd><input type="text" data-bind-value="evt:name"/></dd>
          <dt>Date</dt>
          <dd><input class="fx-date" type="text" data-bind-value="evt:date_label"/></dd>
        </dl>

        <select class="fx-editor-mode">
          <option value="markdown">Expert editor</option>
          <option value="gui">Basic editor</option>
        </select>

        <div class="fg-horizontal-pane">
          <div class="fx-editor-basic" style="display: none">
            <textarea style="resize: none"></textarea>
          </div>
        </div>

        <div class="fg-horizontal-pane" style="margin-bottom: 20px">

          <div class="fg-alpha-pane">
            <div class="fx-editor-expert" style="display: none">
              <textarea rows="9" style="resize: none"></textarea>
            </div>
          </div>

          <div class="fg-omega-pane">
            <div class="fx-preview" style="display: none">
              <div class="fx-output"></div>
            </div>
          </div>

        </div>

      </div>

      <div id="fx-citations">
        <div class="fx-list"></div>
      </div>

    </div><!-- tab-content -->
  </div><!-- tabs -->

  <fieldset>

    <legend>Revision</legend>

    <dl class="fx-comments">
      <dt>Comments</dt>
      <dd><input type="text" data-bind-value="evt:comments"/></dd>
    </dl>

    {{#if branches}}
      <label>Workspace</label>
      <select data-bind-value="rev:branch_id">
        {{#each branches}}
          <option value="{{id}}">{{name}}</option>
        {{/each}}
      </select>
    {{/if}}

    <div class="fx-publish">
      {{#if isPublishable}}
        <label>Publish?</label>
        <input type="checkbox" data-bind-checked="rev:is_published" />
      {{else}}
        The latest revision of
        <a href="/branches/{{branchId}}/timelines/{{timelineId}}">{{timelineName}}</a>
        is not yet published, so this event will not be published.
      {{/if}}
    </div>

  </fieldset>

  <ul class="fg-actions">
    <li><input type="submit"/></li>
  </ul>

</form>
